
.services-container {
    min-height: 200vh;
    max-height: auto;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center; 
    /*horizontal _|_*/
    /* align-items: center; */ /*vertical |-*/
    /* Add specific styles for the Services component */
}

.serv-container h1{
    /* display: flex; */
    font-size: 36px;
    position: relative;
    /* width: 428px; */
    height: 56px;
    /* left: 0px; */
    /* justify-content: center; */
    top: 50%;

    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    text-align: center;

    color: #000000;
}

.serv-container p{
    position: relative;
    /* justify-content: center; */
    height: 109px;
    width: 1092px;
    top: 50%;
    /* left: 223px; */

    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    /* or 165% */

    text-align: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.icons-flexbox{
    border-color: #000000;
    display: flex;
    gap: 15px;
    position: absolute; /*relative to nearest positioned ancestor*/
    justify-content: center;
    width: 1100px;
    height: 250px;
    /* left: 143px; */
    top: 859px;
    flex-wrap: wrap;
    /* gap: 10px; */
}

#first,
#fourth,
#fifth{
    word-wrap: normal;
    width: 316px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

#second {
    text-align: left;
    word-wrap: normal;
    width: 316px;
}

#third {
    text-align: right;
    word-wrap: normal;
    width: 316px;
}

#sixth {
    text-align: center;
    word-wrap: normal;
    width: 316px;
}

.icons-flexbox > div> img {

    display: flex;
    /* align-items: center; */
    justify-content: center;
    position:relative;
    left:30%;
  }

  /* .icons-flexbox > div> h2{
    position: relative;
    text-align: center;
    top:10%;
  } */

