.outline {
    position: absolute;
    width: 1280px;
    height: 480px;
    left: 0px;
    top: 3950px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F8464A;
}

.container {
    position: absolute;
    width: 700px;
    height: 30px;
    left: 10px;
    top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 80px; /* Gap between grid items */
}

.grid-content {
    position: absolute;
width: 200px;
height: 24px;
left: 104px;
top: 10%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 700;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-info {
    position: absolute;
width: 200px;
height: 24px;
left: 0px;
top: 160%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 400;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-content2 {
    position: absolute;
width: 200px;
height: 24px;
left: 350px;
top: 10%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 700;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-info2 {
    position: absolute;
width: 200px;
height: 24px;
left: 0px;
top: 160%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 400;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-content3 {
    position: absolute;
width: 200px;
height: 24px;
left: 600px;
top: 10%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 700;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-info3 {
    position: absolute;
width: 200px;
height: 24px;
left: 0px;
top: 160%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 400;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-content4 {
    position: absolute;
width: 159px;
height: 24px;
left: 850px;
top: 10%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 700;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.grid-info4 {
    position: absolute;
width: 200px;
height: 24px;
left: 0px;
top: 160%;

/* Heading/Bold/Heading 6 - 16px */


font-style: normal;
font-weight: 400;
font-size: 14.5px;
line-height: 24px;
/* identical to box height, or 150% */

font-feature-settings: 'pnum' on, 'lnum' on;

/* Text/White */
color: #FFFFFF;
}

.content {
    position: absolute;
width: 400px;
height: 32px;
left: 104px;
top: 340px;

/* Body/16px Regular */


font-style: normal;
font-weight: 400;
font-size: 14.5px;
line-height: 32px;
/* identical to box height, or 200% */


/* Text/White */

color: #FFFFFF;
}

.img {
    position: absolute;
width: 176px;
height: 32px;
left: 1000px;
top: 340px;
}